header {
  @include flex(space-between,center);
  padding: 20px 50px;
  height: 115px;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 732px) {
    padding: 20px;
  }
  .left {
    @include lexend(16px,400,normal);
    height: 0;
    overflow: hidden;
  }
  .right {
    height: 0;
    overflow: hidden;
    button {
      @include btn();
    }
  }
}