@import "base/base";

@import "componentsStyle/default/header";
@import "componentsStyle/index/bodyHead";
@import "componentsStyle/index/presentation";
@import "componentsStyle/index/experiences";
@import "componentsStyle/index/competences";

body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
}

.containerCircleBackground {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  .circle {
    width: 65vw;
    height: 65vw;
    background: $c-gradient-bubble;
    border-radius: 50%;
    position: absolute;
    &:first-child {
      left: -7vw;
      bottom: -25vw;
      transform: rotate(40deg);
    }
    &:last-child {
      right: -7vw;
      top: -25vw;
      transform: rotate(190deg);
    }
    @media screen and (max-width: 1400px) {
      &:first-child {
        left: -5vw;
        bottom: -20vw;
      }
      &:last-child {
        right: -5vw;
        top: -20vw;
      }
    }
    @media screen and (max-width: 1144px) {
      width: 75vw;
      height: 75vw;
    }
    @media screen and (max-width: 830px) {
      &:first-child {
        left: -5vw;
        bottom: -10vw;
      }
      &:last-child {
        right: -5vw;
        top: -10vw;
      }
    }
    @media screen and (max-width: 680px) {
      width: 100vw;
      height: 100vw;
      &:first-child {
        left: -35vw;
        bottom: -10vw;
      }
      &:last-child {
        right: -35vw;
        top: -10vw;
      }
    }
    @media screen and (max-width: 540px) {
      width: 100vw;
      height: 100vw;
      &:first-child {
        left: -10vw;
        bottom: 50%;
        transform: translateY(50%) rotate(40deg);
      }
      &:last-child {
        right: -10vw;
        top: 50%;
        transform: translateY(-50%) rotate(190deg);
      }
    }
  }
}