@import "base/base";

@import "componentsStyle/default/header";
@import "componentsStyle/default/footer";
@import "componentsStyle/index/bodyHead";
@import "componentsStyle/index/presentation";
@import "componentsStyle/index/experiences";
@import "componentsStyle/index/competences";

body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
  background: $c-white;
  cursor: none;
}

* {
  cursor: none!important;
}

.containerCircleBackground {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  .circle {
    width: 65vw;
    height: 65vw;
    background: $c-gradient-bubble;
    border-radius: 50%;
    position: absolute;
    &:first-child {
      left: -7vw;
      bottom: -25vw;
      transform: rotate(40deg);
    }
    &:last-child {
      right: -7vw;
      top: -25vw;
      transform: rotate(190deg);
    }
    @media screen and (max-width: 1400px) {
      &:first-child {
        left: -5vw;
        bottom: -20vw;
      }
      &:last-child {
        right: -5vw;
        top: -20vw;
      }
    }
    @media screen and (max-width: 1144px) {
      width: 75vw;
      height: 75vw;
    }
    @media screen and (max-width: 830px) {
      &:first-child {
        left: -5vw;
        bottom: -10vw;
      }
      &:last-child {
        right: -5vw;
        top: -10vw;
      }
    }
    @media screen and (max-width: 680px) {
      width: 100vw;
      height: 100vw;
      &:first-child {
        left: -35vw;
        bottom: -10vw;
      }
      &:last-child {
        right: -35vw;
        top: -10vw;
      }
    }
    @media screen and (max-width: 540px) {
      width: 100vw;
      height: 100vw;
      &:first-child {
        left: -10vw;
        bottom: 50%;
        transform: translateY(50%) rotate(40deg);
      }
      &:last-child {
        right: -10vw;
        top: 50%;
        transform: translateY(-50%) rotate(190deg);
      }
    }
  }
}

#cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 99999999999999;
  pointer-events: none;
  backdrop-filter: invert(1);
  transform: scale(0.3);
  padding: 8px;
  @include lexend(16px,600);
  @media screen and (max-width: 1024px) {
    display:  none;
  }

  .text {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $c-white;
    //mix-blend-mode: difference;
    filter: invert(100%);

    //&.title-see-project {
    //  display: flex;
    //  opacity: 1;
    //}

  }

}