#bodyHead {

  height: calc(100dvh - 115px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 115px - 10vh) 10vh;

  .mainNameSection {
    @include flex();
    h1 {
      @include lexend();
      @include flex(center,flex-start,column);
      .fname {
        font-size: clamp(20px,2.5vw,36px);
        font-weight: 400;
        text-transform: uppercase;
        transform: translateX(-50%);
        @media screen and (max-width: 370px) {
          transform: translateX(0%);
        }
      }
      .nname {
        font-size: clamp(40px,7vw,96px);
        font-weight: 700;
        text-transform: uppercase;
      }
      .jobs {
        @include flex(flex-end,flex-end,column);
        width: 100%;
        & > span {
          font-size: clamp(18px,2vw,24px);
          font-weight: 300;
          transform: translateX(50%);
          margin: 3px 0;
          @media screen and (max-width: 500px) {
            transform: translateX(0%);
          }
        }
      }

    }
  }

  .mainActionSection {
    padding: 0 50px;
    @include flex(flex-start);
    @media screen and (max-width: 732px) {
      padding: 0 20px;
    }
    a,button {
      @include btn();
      width: fit-content;
      padding: 15px 20px;
      height: fit-content;
      &.loadedAnnimationBTN {
        transform: scaleY(0);
        transform-origin: top;
        svg {
          opacity: 0;
        }
      }
    }
  }

  .loadedAnnimation {
    height: 0;
    overflow-y: hidden;
  }

}