#competences {
  padding: 60px 250px;
  height: 100vh;

  @media screen and (max-width: 1582px) {
    padding: 60px 200px;
    @media screen and (max-width: 1478px) {
      padding: 60px 150px;
      @media screen and (max-width: 1380px) {
        padding: 60px 100px;
        @media screen and (max-width: 990px) {
          padding: 60px 20px;
          @media screen and (max-width: 796px) {
            padding: 60px 20px;
            @media screen and (max-width: 786px) {
              height: fit-content;
              padding-top: 50px;
            }
          }
        }
      }
    }
  }

  h2 {
    @include lexend(40px,600,100%,$c-white);
    @media screen and (max-width: 786px) {
      margin-bottom: 50px;
    }
  }

  .container-competences {
    //padding: 50px 0;
    position: relative;
    height: 100%;

    @media screen and (max-width: 500px) {
      margin-top: 70px;
    }

    li {

      //margin: 70px 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @media screen and (max-width: 786px) {

        position: relative;
        top: initial;
        left: initial;
        margin: 60px 0;
        transform: translateY(0%);

      }

      &.left {

        a {

          flex-direction: row-reverse;

          .contentLeftPart {

            @include flex(flex-start,flex-start,column);
            text-align: left;

            h3 {

              transform: translateX(-20%);

            }

            p {

              padding: 20px 0 0 50px;

            }

          }

        }

      }

      a {

        text-decoration: none;
        color: $c-white;
        @include flex(space-between,flex-start);
        
        @media screen and (max-width: 786px) {
          flex-direction: column-reverse!important;
        }

        .contentLeftPart {

          width: 65%;
          text-align: right;

          @include flex(flex-start,flex-end,column);

          @media screen and (max-width: 990px) {

            width: 50%;

            @media screen and (max-width: 786px) {

              width: 100%!important;
              align-items: center!important;
              justify-content: center!important;
              text-align: left!important;

            }

          }

          h3 {

            margin: 30px 0;
            @include btn($c-white,$c-black,26px,600);
            width: fit-content;
            height: fit-content;
            padding: 20px;
            transform: translateX(20%);
            z-index: 3;
            text-transform: uppercase;

            @media screen and (max-width: 990px) {

              font-size: 22px;

              @media screen and (max-width: 786px) {

                margin: 0;
                transform: translateY(-50%)!important;

              }

            }

          }

          p {

            padding: 20px 50px 0 0;
            overflow: hidden;
            @include lexend(clamp(16px,1.4vw,20px),300,normal,$c-white);

            span {
              display: inline-block;
            }

            @media screen and (max-width: 990px) {

              padding: 5px 20px!important;

              @media screen and (max-width: 786px) {

                padding: 0!important;

              }

            }

          }

        }

        .imgRightPart {

          width: 35%;
          height: 500px;
          position: relative;

          @media screen and (max-width: 990px) {

            width: 50%;

            @media screen and (max-width: 786px) {

              width: 100%!important;
              height: 40vh;

            }

          }
          
          .filterImage {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(28, 25, 25, 0.45) 0.29%, rgba(28, 25, 25, 0.03) 99.98%);
            width: 100%;
            height: 100%;
          }

          img {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;

          }

        }

      }

    }

  }
}